.menu-800, .menu-802, .menu-803 {
    cursor: default;
    user-select: none;
}

.widget-container-header-left {
    width: 100% !important;
}

#block-views-highlights-slideshow-block .views-content-counter {
    cursor: default;
}

.slideshow_know_more_btn a, .slideshow_know_more_btn a:visited {
    height: 36px;
    line-height: 22px;
    display: block;
    margin: 0px;
    width: 111px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 0px;
}

form.custom.radio_round .custom.checkbox {
    border-radius: 3px;
}

form.custom.radio_round .custom.checkbox.checked:before {
    border-radius: 2px;
}

.custom.radio_round input, .custom.radio_round .custom.checkbox {
    cursor: pointer;
}

.filters-explorar-Portugal label.sugestoes-costum-radio {
    margin-bottom: 0;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    display: inline;
    font-size: inherit;
    cursor: pointer;
}

form.custom .custom.dropdown .current, form.custom .custom.dropdown .selector {
    cursor: pointer
}

li.footer_sitemap_link_li {
    margin-bottom: 7px;
}

#footer_final {
    height: auto;
}

.ajax-progress {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: rgb(0,0,0, 0.5);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajax-progress .throbber {
    background-image: url(https://media0.giphy.com/media/FgH5xSNjGHZsiYPWAX/giphy.gif?cid=6c09b952keg4bwtrsph72ffnicsnbezwv2540ax3q01kbmmk&ep=v1_stickers_related&rid=giphy.gif&ct=s);
    float: left;
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
}

.sobre-portugal-mapaslist-block-detail-text {
    width: 250px;
}

.novo-know-more .novo-know-more-btn {
    width: 12px;
    visibility: hidden;
}

.custom-radio-child-size .custom.radio {
    width: 9px;
    height: 9px;
}

form.custom .custom.radio, .contact-form .form-item-assunto label.option, .form-item-termos-e-condicoes .form-radios label {
    cursor: pointer;
}

label[for=edit-termos-e-condicoes] {
    text-decoration: auto;
    font-family: gothamXNarrow-medium;
    font-size: 17px;
    color: #3A3535;
}

.form-item-termos-e-condicoes label {
    text-decoration: auto;
}

.gal_list {
    cursor: pointer;
    padding-top: 20px;
}

.nav ul.menu li.menu-807, .nav ul.menu li.menu-808 {
    display: none;
}

.bi-portugal-map-title img {
    margin-bottom: 30px;
}

/* Combining media query expressions */
@media only screen and (min-width: 767px) and (max-width: 1204px)  {
    body {
        min-width: auto;
        overflow-x: hidden;
    }

    #header {
        max-width: 100vw;
        margin: 0;
    }

    #meteo_main {
        display: none;
    }

    #meteo_main + span {
        display: none;
    }

    #branding {
        padding: 10px 0 10px 0px;
        margin-right: -30px;
    }

    #logo {
        margin-left: 20px;
    }

    #primary-menu-bar {
        max-width: 100vw;
        margin: 0;
    }

    .primary-menu {
        font-size: 15px;
    }

    #e_submenu_wrapper {
        left: 30px !important;
    }

    #exp_submenu_wrapper {
        left: 10px !important;
    }

    .menu-218 {
        display: none !important;
    }

    div#page {
        min-width: 100vw;
    }

    .em_destaque_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .em_destaque_content .region-em-destaque {
        margin-bottom: 30px !important;
    }

    div#explorar_portugal {
        width: 100vw;
        margin-top: 100px;
    }

    .explorar-portugal-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* #footer_newsletter, #footer_rp_destaque, #footer_sobre_portugal, #footer_novidades, #footer_destinos, #footer_experiencias, #footer_encontre, #footer_recordar_e_partilhar, .footer_final_content .icon-plus, .icon-remove, .main-widget-container {
        display: none !important;
    } */

    #footer_final .footer_final_inner {
        width: 100vw;
        margin: 0;
    }

    .footer_final_content .slim-divider {
        display: none;
    }

    div.region-footer-final { 
        min-width: 100vw;
    }

    div#footer_final {
        width: 100vw;
    }

    div#footer_final {
        min-width: 100vw;
    }

    div#primary-menu-bar-wrapper {
        width: 100vw !important;
    }

    #main-clipping {
        width: 100vw;
    }

    #main-clipping .main-clipping-inner {
        width: 100vw;
        margin: 0;
    }

    #em_destaque .em_destaque_title {
        margin-left: 10px;
    }

    #explorar_portugal .explorar_portugal_title, #destinos_inicio .explorar_portugal_title {
        margin-left: 10px;
    }

    .sugestoes>*:first-child, .eventos.exp-eventos-header>*:first-child {
        margin: 0 10% 0 7.5%;
    }

    .explorar-portugal-item {
        width: 40%;
        margin-right: 20px !important;
    }

    #footer_final .footer_final_inner .footer_final_content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .filters-explorar-Portugal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}