.menu-800, .menu-802, .menu-803 {
    cursor: default;
    user-select: none;
}

.widget-container-header-left {
    width: 100% !important;
}

#block-views-highlights-slideshow-block .views-content-counter {
    cursor: default;
}

.slideshow_know_more_btn a, .slideshow_know_more_btn a:visited {
    height: 36px;
    line-height: 22px;
    display: block;
    margin: 0px;
    width: 111px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 0px;
}

form.custom.radio_round .custom.checkbox {
    border-radius: 3px;
}

form.custom.radio_round .custom.checkbox.checked:before {
    border-radius: 2px;
}

.custom.radio_round input, .custom.radio_round .custom.checkbox {
    cursor: pointer;
}

.filters-explorar-Portugal label.sugestoes-costum-radio {
    margin-bottom: 0;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    display: inline;
    font-size: inherit;
    cursor: pointer;
}

form.custom .custom.dropdown .current, form.custom .custom.dropdown .selector {
    cursor: pointer
}

li.footer_sitemap_link_li {
    margin-bottom: 7px;
}

#footer_final {
    height: auto;
}