.menu-800, .menu-802, .menu-803 {
    cursor: default;
    user-select: none;
}

.widget-container-header-left {
    width: 100% !important;
}

#block-views-highlights-slideshow-block .views-content-counter {
    cursor: default;
}