.menu-800, .menu-802, .menu-803 {
    cursor: default;
    user-select: none;
}

.widget-container-header-left {
    width: 100% !important;
}

#block-views-highlights-slideshow-block .views-content-counter {
    cursor: default;
}

.slideshow_know_more_btn a, .slideshow_know_more_btn a:visited {
    height: 36px;
    line-height: 22px;
    display: block;
    margin: 0px;
    width: 111px;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 0px;
}

form.custom.radio_round .custom.checkbox {
    border-radius: 3px;
}

form.custom.radio_round .custom.checkbox.checked:before {
    border-radius: 2px;
}

.custom.radio_round input, .custom.radio_round .custom.checkbox {
    cursor: pointer;
}

.filters-explorar-Portugal label.sugestoes-costum-radio {
    margin-bottom: 0;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    display: inline;
    font-size: inherit;
    cursor: pointer;
}

form.custom .custom.dropdown .current, form.custom .custom.dropdown .selector {
    cursor: pointer
}

li.footer_sitemap_link_li {
    margin-bottom: 7px;
}

#footer_final {
    height: auto;
}

.ajax-progress {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: rgb(0,0,0, 0.5);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajax-progress .throbber {
    background-image: url(https://media0.giphy.com/media/FgH5xSNjGHZsiYPWAX/giphy.gif?cid=6c09b952keg4bwtrsph72ffnicsnbezwv2540ax3q01kbmmk&ep=v1_stickers_related&rid=giphy.gif&ct=s);
    float: left;
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
}

.sobre-portugal-mapaslist-block-detail-text {
    width: 250px;
}

.novo-know-more .novo-know-more-btn {
    width: 12px;
    visibility: hidden;
}